{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}


<div class="container mt-3 pt-2">
    <div class="row">
        <div class="col">
            {% if product.on_sale %}
            <div class="top-right">Akció</div>
            {% endif %}
            <img src="{% if product.image %}{{ product.image.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}">
        </div>
        <div class="col">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.category }}
                </a>
            </h2>
            {% if product.on_sale %}
            <p class="price"><del>{{ product.price }} Ft.</del></p>
            <p class="price">{{ product.on_sale_price }} Ft.</p>
            {% else %}
            <p class="price">{{ product.price }} Ft.</p>
            {% endif %}
            {{ product.description|linebreaks }}
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <br>
                <input type="submit" class="btn btn-primary" value="Kosárba teszem">
            </form>
            <a href="{% url "shop:product_list" %}" class="btn btn-info">Vissza</a>
        </div>
    </div>



    <div class="container mt-3">
        <div class="row">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Leírás</a>
                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">További információk</a>
                </div>
            </nav>
            <div class="tab-content mt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    {% for d in descriptors %}
                    <div class="row">
                        <h3>{{ d.title }}</h3>
                        <p>{{ d.description }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <h3>{{ product.weight }} g</h3>
                    </div>
                    <div class="row">
                        <h3>{{ product.units }} db</h3>
                    </div>
                    <h3>{{ product.daily_dose }} db/nap</h3>
                    <h3>{{ product.ogyei_number }}</h3>
                </div>
            </div>
        </div>
    </div>

    <hr class="mb-4">
    <div class="row mt-3">
            <h3><strong>Érdekelhetnek még…</strong></h3>
            {% for p in on_sale_products %}
            <div class="col-md-auto mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}{% endif %}" class="card-img-top" alt="...">
                    {% if p.on_sale %}
                    <div class="top-right">Akció</div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                        </h5>
                        <!--<p class="card-text">{{ p.description|truncatewords:25|linebreaks }}</p>-->
                        {% if p.on_sale %}
                        <p class="card-text">{{ p.on_sale_price|intcomma }} Ft.</p>
                        {% else %}
                        <p class="card-text">{{ p.price|intcomma }} Ft.</p>
                        {% endif %}
                        <a href="{{ p.get_absolute_url }}" class="btn btn-info">Megtekint</a>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>

    <hr class="mb-4">
    <div class="row mt-3">

            <h3><strong>Kapcsolódó termékek:</strong></h3>
            {% for p in recommended_products %}
            <div class="col-md-auto mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}{% endif %}" class="card-img-top" alt="...">
                    {% if p.on_sale %}
                    <div class="top-right">Akció</div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                        </h5>
                        <!--<p class="card-text">{{ p.description|truncatewords:25|linebreaks }}</p>-->
                        {% if p.on_sale %}
                        <p class="card-text">{{ p.on_sale_price|intcomma }} Ft.</p>
                        {% else %}
                        <p class="card-text">{{ p.price|intcomma }} Ft.</p>
                        {% endif %}
                        <a href="{{ p.get_absolute_url }}" class="btn btn-info">Megtekint</a>
                    </div>
                </div>
            </div>
            {% endfor %}

    </div>
</div>


<div class="row">

</div>
<div class="row">

</div>
</div>


{% endblock %}