{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}


<div class="container mt-3 pt-2">
    <div class="loader-wrapper">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}
                    {% static "img/no_image.png" %}{% endif %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        {% for i in images %}
                        <img src="{{ i.image.url }}" class="d-block w-100" alt="...">
                        {% endfor %}
                    </div>
                    <!--<div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>-->
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <!-- INSERT MY OWN PREV ICON USING FONT AWESOME  -->
                    <i style="color: #2589FF; font-size: 60px" class="fas fa-arrow-alt-circle-left"></i>
                    <span class="sr-only">Előző</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <!-- INSERT MY OWN NEXT ICON USING FONT AWESOME  -->
                    <i style="color: #2589FF; font-size: 60px" class="fas fa-arrow-alt-circle-right"></i>
                    <span class="sr-only">Következő</span>
                </a>
            </div>
        </div>
        <div class="col">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.category }}
                </a>
            </h2>
            {% if product.on_sale %}
            <p class="card-text"><del>{{ product.price|intcomma }} Ft.</del><span>
                    {{ product.on_sale_price|intcomma }} Ft.</span></p>
            {% else %}
            <p class="card-text">{{ product.price|intcomma }} Ft.</p>
            {% endif %}
            {{ product.description|linebreaks }}
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                <div class="row mt-3 pt-2">
                    <div class="col-md-2 mt-2">
                        <label for="{{ cart_product_form.quantity.id_for_label }}">Mennyiség:</label>
                    </div>
                    <div class="form-group col-md-6 ml-3">
                        {% csrf_token %}
                        {{ cart_product_form.quantity.errors }}
                        {{ cart_product_form.quantity }}
                    </div>
                </div>
                <br>
                <input type="submit" class="btn btn-primary mt-3" value="Kosárba teszem">
                <a href="{% url "shop:product_list" %}" class="btn btn-info mt-3 mr-2">Vissza</a>
            </form>
        </div>
    </div>



    <div class="container mt-3">
        <div class="row">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Leírás</a>
                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">További információk</a>
                </div>
            </nav>
            <div class="tab-content mt-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    {% for d in descriptors %}
                    <div class="row">
                        <h3>{{ d.title }}</h3>
                        <p>{{ d.description }}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row">
                        <h3>További termék információk:</h3>
                    </div>

                    <ul class="mt-3 pt-2">
                        <li><strong>Tömeg: </strong>{{ product.weight }} g</li>
                        <li><strong>Kiszerelés: </strong>{{ product.units }} db</li>
                        <li><strong>Napi ajánlott mennyiség: </strong>{{ product.daily_dose }} db/nap</li>
                        <li><strong>ogyei-szam: </strong>{{ product.ogyei_number }}</li>
                    </ul>
                    <p class="font-weight-bold mt-3 pt-2">Figyelmeztetés</p>
                    <p class="font-weight-normal">A felhasználási javaslatban megadott mennyiséget ne lépje túl! A
                        termék nem helyettesíti a vegyes étrendet és az egészséges életmódot. A doboz gyermekek elől
                        gondosan elzárva tartandó!</p>
                </div>
            </div>
        </div>

        <hr class="mb-4">
        <h3><strong>Érdekelhetnek még…</strong></h3>
        <div class="row mt-3">
            {% for p in on_sale_products %}
            <div class="col-md-auto mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}{% endif %}" class="card-img-top" alt="...">
                    {% if p.on_sale %}
                    <div class="top-right">Akció</div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                        </h5>
                        <!--<p class="card-text">{{ p.description|truncatewords:25|linebreaks }}</p>-->
                        {% if p.on_sale %}
                        <p class="card-text"><del>{{ p.price|intcomma }} Ft.</del><span>
                                {{ p.on_sale_price|intcomma }} Ft.</span></p>
                        {% else %}
                        <p class="card-text">{{ p.price|intcomma }} Ft.</p>
                        {% endif %}
                        <a href="{{ p.get_absolute_url }}" class="btn btn-info">Megtekint</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr class="mb-4">
        <h3><strong>Kapcsolódó termékek:</strong></h3>
        <div class="row mt-3">


            {% for p in recommended_products %}
            <div class="col-md-auto mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% if p.image %}{{ p.image.url }}{% else %}{% endif %}" class="card-img-top" alt="...">
                    {% if p.on_sale %}
                    <div class="top-right">Akció</div>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                        </h5>
                        <!--<p class="card-text">{{ p.description|truncatewords:25|linebreaks }}</p>-->
                        {% if p.on_sale %}
                        <p class="card-text"><del>{{ p.price|intcomma }} Ft.</del><span>
                                {{ p.on_sale_price|intcomma }} Ft.</span></p>
                        {% else %}
                        <p class="card-text">{{ p.price|intcomma }} Ft.</p>
                        {% endif %}
                        <a href="{{ p.get_absolute_url }}" class="btn btn-info">Megtekint</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>


    <div class="row">

    </div>
    <div class="row">

    </div>
</div>


{% endblock %}