{% extends "shop/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}
        {% static "img/no_image.png" %}{% endif %}">
        </div>
        <div class="col">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="{{ product.category.get_absolute_url }}">
                    {{ product.category }}
                </a>
            </h2>
            <p class="price">{{ product.price }} Ft.</p>
            {{ product.description|linebreaks }}
            <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <br>
                <input type="submit" class="btn btn-primary" value="Kosárba teszem">
            </form>
            <a href="{% url "shop:product_list" %}" class="btn btn-info">Vissza</a>
        </div>
    </div>

    <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Leírás</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">További információk</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                Product description
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                Product info
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Similar products:</h3>
    </div>
    <div class="row">
        {% for p in similar_products %}
        <div class="col-md-auto">
            <div class="card" style="width: 18rem;">
                <img src="{% if p.image %}{{ p.image.url }}{% else %}{% endif %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                    </h5>
                    <p class="card-text">{{ p.description|truncatewords:25|linebreaks }}</p>
                    <p class="card-text">{{ p.price|intcomma }} Ft.</p>
                    <a href="{{ p.get_absolute_url }}" class="btn btn-info">Megtekint</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}