<html>

<body>
    <h1>VitaKing Budaörs</h1>
    <p>
        Számlaszám: <strong>{{ order.id }}</strong></br>
        <span class="order-date">
            {{ order.created|date:"Y M d" }}
        </span>
    </p>

    <h3>Számlázási cím</h3>
    <p>
        {{ order.first_name }} {{ order.last_name }}<br>
        {{ order.email }}<br>
        {{ order.address }}<br>
        {% if order.address2 %}
        {{ order.address2 }}<br>
        {% endif %}
        {{ order.city }}<br>
        {{ order.postal_code }}
    </p>

    <h3>Vásárolt termékek:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Termék</th>
                <th scope="col">Egységár</th>
                <th scope="col">Mennyiség</th>
                <th scope="col">Ár</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>{{ forloop.counter }}</th>
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }} Ft.</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.get_cost }} Ft.</td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="4">Végösszeg</td>
                <td class="total-price">{{ order.get_total_cost }} Ft</td>
            </tr>
        </tbody>
    </table>

    <footer>
        <p class="footer-contact">Cím : Budaörs, Szabadság út 58, 2040 Magyarország</p>
        <p class="footer-contact">Telefon: +36 30 853 5626</p>
        <p class="footer-contact">E-mail: </p>
        <p class="footer-contact">vitaking.com</p>
    </footer>
</body>

</html>